user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
error_log {{ nginx_error_log }};
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
    log_format  main  {{ nginx_log_format|indent(23) }};

    access_log  {{ nginx_access_log }};

    sendfile            {{ nginx_sendfile }};
    tcp_nopush          {{ nginx_tcp_nopush }};
    tcp_nodelay         {{ nginx_tcp_nodelay }};
    gzip                {{ nginx_gzip }};
   
    include            /etc/nginx/mime.types;
    default_type        application/octet-stream;

    include {{ nginx_conf_path }}/*.conf;
    include /etc/nginx/sites-enabled/*;

server {
        listen       {{ nginx_listen_port_ipv4 }};
        server_name {{ domain_name }};

        root {{ nginx_document_root }};
        index {{ nginx_index_file }};
        ssl_certificate {{ ssl_certificate }};
        ssl_certificate_key {{ ssl_certificate_key }};
#        listen       {{ nginx_listen_port_ipv6 }};
#        server_name  _;
#        root         /usr/share/nginx/html;
#        
#        Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        location / {
        }

        error_page {{ nginx_client_error_page }};
            location = {{ nginx_client_error_page_location }} {
        }

        error_page {{ nginx_server_error_page }};
            location = {{ nginx_server_error_page_location }} {
        }
    }
}
